aiohttp
beautifulsoup4
bleach
cachetools
dateparser
emoji
feedparser
ffmpeg-python
future
gitpython
markdown2
multicolorcaptcha
Pillow
psutil
psycopg2-binary
pyyaml
pyrate-limiter
requests
speedtest-cli
SQLAlchemy
telethon
ujson
pycryptodome
prettyconf
base58
pytimeparse
python-telegram-bot==13.15
python-arq==6.0.7
python-dotenv
redis
telegraph
motor
pymongo
opencv-python-headless
wget
wikipedia
bing_image_downloader
lyricsgenius
jikanpy
gtts
search_engine_parser
gpytranslate
cloudscraper
carbonnow
pretty_errors
spamwatch==0.3.0
